<a href="https://colab.research.google.com/github/MamatkulovBunyodbek1999/Matnlar/blob/main/GROUPPIMG_cut()_qcut().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science and AI Praktikum

## 3-MODULE.

### 3.2 Cleaning Data

## Groupping

![](https://www.researchgate.net/profile/Gemma-Burgess-5/publication/299603937/figure/fig1/AS:347169551863808@1459783079654/The-age-ranges-of-survey-respondents.png)

# To get the result like in above picture, we need to separate our data into different groups

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

# Deleting duplicated raws first

In [4]:
df.drop_duplicates(inplace=True)
df.head()

             pop2021   area
country
Macau        658.394     30
Monaco        39.511      2
Burundi    12255.433  27834
Singapore   5896.686    710
Hong Kong   7552.810   1104

# Sorting by index

In [7]:
df.sort_index(inplace=True)
df.head()

                  pop2021     area
country
Afghanistan     39835.428   652230
Albania          2872.933    28748
Algeria         44616.624  2381741
American Samoa     55.100      199
Andorra            77.355      468

# LET'S SEE SOME VALUES FROM POP2021 COLUMN

In [8]:
df.loc['China']

pop2021    1444216.107
area       9706961.000
Name: China, dtype: float64

In [9]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

# AS WE CAN SEE, TO GET THE RIGHT AMOUNT OF POPULATION, WE NNED TO MULTIPLY ALL VALUES TO 1000

In [11]:
population = df.pop2021

In [12]:
population.head()

country
Afghanistan       39835.428
Albania            2872.933
Algeria           44616.624
American Samoa       55.100
Andorra              77.355
Name: pop2021, dtype: float64

# LET'S SAY WE WANT ALL THE COUNTRIES TO BE IN SOME GROEPS OR INTERVALS. TO DO THAT WE WILL CREATE NEW LIST :
[bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]]

In [10]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [14]:
INTERVAL = pd.cut(population,bins)

In [15]:
INTERVAL

country
Afghanistan          (30000, 50000]
Albania               (1000, 10000]
Algeria              (30000, 50000]
American Samoa            (0, 1000]
Andorra                   (0, 1000]
                          ...
Wallis and Futuna         (0, 1000]
Western Sahara            (0, 1000]
Yemen                (30000, 50000]
Zambia               (10000, 30000]
Zimbabwe             (10000, 30000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

# TO SEE HOW MANY COUNTRIES IN EACH INTERVAL

In [20]:
INTERVAL.value_counts()

(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

# WE CAN ADD INTERVAL INTO OUR DATAFRAME

In [21]:
df['popBins'] = INTERVAL

In [22]:
df.head()

                  pop2021     area         popBins
country
Afghanistan     39835.428   652230  (30000, 50000]
Albania          2872.933    28748   (1000, 10000]
Algeria         44616.624  2381741  (30000, 50000]
American Samoa     55.100      199       (0, 1000]
Andorra            77.355      468       (0, 1000]

# LET'S SEE ONE MORE SAMPLE

In [23]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

# THIS DF SHOWS THE PRICES OF OUTOS FROM DIFFERENT COMPANIES.
#df.price.describe()

In [24]:
df.price.describe() # WE NEED TO SEE THE MAX MINS FIRST

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

# WE WILL CREATE A NEW LIST AGAIN WHICH WE WILL USE AS AN INTERVAL

In [31]:
bins = [0, 10000, 20000, 50000]

# USING .CUT()

In [32]:
range = pd.cut(df.price, bins)

In [33]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

In [35]:
groups = ["CHEAP", "NORMAL", "EXPENSIVE"]
range = pd.cut(df.price, bins, labels=groups)
range.value_counts()

CHEAP        28
NORMAL       17
EXPENSIVE    13
Name: price, dtype: int64

In [41]:
df['range']=pd.DataFrame(range)

In [43]:
df.sample(8)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,range
index,,,,,,,,,,
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,CHEAP
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,EXPENSIVE
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,CHEAP
45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,EXPENSIVE
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,CHEAP
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,CHEAP
56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,CHEAP
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,CHEAP

# ABOVE WE CREATED  GROUPS, ACTUALLY PANDAS CAN DO IT ITSELF !
# WE JUST HAVE TO SHOW HOW MANY INTERVALS WE NEED

In [44]:
range = pd.cut(df.price, 3)
range.value_counts()

(5110.751, 18567.333]     44
(31983.667, 45400.0]       9
(18567.333, 31983.667]     5
Name: price, dtype: int64

# If you need to split the values ​​into groups of equal members, you call the `.qcut()` method:

In [46]:
range = pd.qcut(df.price, 3)
range.value_counts()

(5150.999, 7295.0]    20
(7295.0, 16430.0]     19
(16430.0, 45400.0]    19
Name: price, dtype: int64

In [47]:
range = pd.qcut(df.horsepower, 3)
range.value_counts()

(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: horsepower, dtype: int64